<div class="carousel">

<div class="slide">
<img src="Figures/Figure_1.jpg">
</div>

<div class="slide">
<img src="Figures/Figure_4.jpg">
</div>

<div class="slide">
<img src="Figures/Figure_5.jpg">
</div>

<div class="slide">
<img src="Figures/Figure_6.jpg">
</div>

<div class="slide">
<img src="Figures/Figure_7.jpg">
</div>

<div class="slide">
<img src="Figures/Figure_8.jpg">
</div>

<div class="slide">
<img src="Figures/Figure_9.jpg">
</div>

<div class="slide">
<img src="Figures/Figure_10.jpg">
</div>

</div>

<div style="text-align:center">

<span class="dot" onclick="currentSlide(1)"></span>
<span class="dot" onclick="currentSlide(2)"></span>
<span class="dot" onclick="currentSlide(3)"></span>
<span class="dot" onclick="currentSlide(4)"></span>
<span class="dot" onclick="currentSlide(5)"></span>
<span class="dot" onclick="currentSlide(6)"></span>
<span class="dot" onclick="currentSlide(7)"></span>
<span class="dot" onclick="currentSlide(8)"></span>

</div>

<style>

.carousel{
max-width:900px;
margin:auto;
}

.carousel img{
width:100%;
max-height:40vh;
object-fit:contain;
}

.slide{
display:none;
}

.dot{
height:12px;
width:12px;
margin:5px;
background:#bbb;
border-radius:50%;
display:inline-block;
cursor:pointer;
}

.active{
background:#717171;
}

</style>

<script>

let slideIndex = 1;
showSlides(slideIndex);

function currentSlide(n){
slideIndex = n;
showSlides(slideIndex);
}

function showSlides(n){

let slides = document.getElementsByClassName("slide");
let dots = document.getElementsByClassName("dot");

if(n > slides.length){slideIndex = 1}
if(n < 1){slideIndex = slides.length}

for(let i=0;i<slides.length;i++){
slides[i].style.display="none";
}

for(let i=0;i<dots.length;i++){
dots[i].className=dots[i].className.replace(" active","");
}

slides[slideIndex-1].style.display="block";
dots[slideIndex-1].className+=" active";

}

function autoSlides(){

slideIndex++;

showSlides(slideIndex);

setTimeout(autoSlides,4000);

}

autoSlides();

</script>
