---
---

@import "{{ site.theme }}";

/* Reduce header height */
.page-header {
  padding: 20px 10px !important;
}

/* Reduce main title size */
.project-name {
  font-size: 2.2rem !important;
}

/* Reduce subtitle size */
.project-tagline {
  font-size: 1.2rem !important;
}

/* Reduce spacing of main content */
.main-content {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

/* Make workflow image smaller */
.main-content img {
  max-height: 22vh;
}

/* Reduce slider image height */
.carousel img {
  max-height: 35vh !important;
}
